In [21]:
import pandas as pd
import numpy as np
from functools import reduce
import math
import sys

In [2]:
df = pd.read_csv('./datasets/dataset_test.csv')

In [3]:
df.head()

,Index,Hogwarts House,First Name,Last Name,Birthday,Best Hand,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
0,0,NaN,Rico,Sargent,2001-10-06,Right,41642.0,696.096071,3.020172,-6.960961,7.996,-365.151850,393.138185,4.207691,1046.742736,3.668983,0.373853,-244.48172,-13.62
1,1,NaN,Tamara,Shackelford,1998-01-08,Left,45352.0,-370.844655,2.965226,3.708447,6.349,522.580486,602.853051,6.460017,1048.053878,8.514622,0.577432,-231.29200,-26.26
2,2,NaN,Staci,Crandall,1998-09-15,Left,43502.0,320.303990,-6.185697,-3.203040,4.619,-630.073207,588.071795,-5.565818,936.437358,1.850829,-1.647150,-252.99343,200.15
3,3,NaN,Dee,Gavin,2001-05-10,Right,61831.0,407.202928,4.962442,NaN,NaN,-449.179806,427.699966,NaN,1043.397718,4.656573,1.164708,-244.01660,-11.15
4,4,NaN,Gregory,Gustafson,1999-02-01,Right,NaN,288.337747,3.737656,-2.883377,4.886,-449.732166,385.712782,2.876347,1051.377936,2.750586,0.102104,-243.99806,-7.12

In [5]:
df_types = df.select_dtypes(include=['float64', 'int64'])

In [11]:
names = df_types.keys()

In [57]:
def stat(arr): 
    
    def percentile(array, percent):
        k = (len(array) - 1) * percent
        f = math.floor(k)
        c = math.ceil(k)
        if f == c:
            return array[int(k)]
        d0 = array[int(f)] * (c - k)
        d1 = array[int(c)] * (k - f)
        return d0 + d1
        
    count = 0
    mini = float('inf')
    maxi = -float('inf')
    mean = 0
    values = []
    for x in arr:
        if(not np.isnan(x)):
            count += 1
            mean += x
            values.append(x)
        if(maxi < x):
            maxi = x
        if(mini > x):
            mini = x
    if(count == 0):
        return [0, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
    mean /= count
    
    std = 0
    for x in values:
        std += (x - mean) ** 2
    std = (std / (count - 1)) ** 0.5
    values = sorted(values)
    per_25 = percentile(values, 0.25)
    per_50 = percentile(values, 0.5)
    per_75 = percentile(values, 0.75)
    dic = dict()
    return [count, mean, std, mini, per_25, per_50, per_75, maxi]

In [58]:
x = list(map(lambda name: att(df_types[name]), names))

In [67]:
result = pd.DataFrame(x, columns=['count', 'means', 'std', 'min', '25%', '50%', '75%', 'max'], index=names).T
result

,Index,Hogwarts House,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
count,400.000000,0.0,387.000000,387.000000,389.000000,392.000000,394.000000,390.000000,392.000000,389.000000,389.000000,390.000000,392.000000,400.000000,400.000000
means,199.500000,NaN,50088.971576,48.155326,1.385517,-0.537843,3.411071,-220.169594,495.937543,2.829816,1030.885777,5.776860,0.022985,-243.181109,23.367450
std,115.614301,NaN,15472.748364,512.537781,5.055295,5.118762,3.891192,497.668782,101.657418,4.317209,45.346899,3.217625,1.019005,8.727190,95.185944
min,0.000000,NaN,4536.000000,-802.725180,-9.687662,-8.700635,-8.183000,-1041.323658,319.360250,-7.189090,906.932050,-1.162060,-2.871119,-259.866780,-143.520000
25%,99.750000,NaN,40167.500000,-483.719690,-4.183731,-5.209348,3.528750,-580.049325,400.719831,2.227669,1028.499974,3.230372,-0.646285,-250.150987,-38.475000
50%,199.500000,NaN,49238.000000,292.108738,3.630490,-2.915654,4.703000,-407.549022,484.102477,4.290164,1047.648405,5.731330,0.059416,-244.758710,-2.555000
75%,299.250000,NaN,60157.000000,508.713093,5.405685,4.785055,5.571000,221.387925,591.372101,5.662488,1060.367924,8.136907,0.711248,-232.798160,45.332500
max,399.000000,NaN,99744.000000,870.063498,9.678462,8.027252,8.604000,939.317135,667.674165,10.366995,1099.966073,13.390013,3.205525,-226.003820,282.430000

,Index,Hogwarts House,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
count,400.000000,0.0,387.000000,387.000000,389.000000,392.000000,394.000000,390.000000,392.000000,389.000000,389.000000,390.000000,392.000000,400.000000,400.000000
mean,199.500000,NaN,50088.971576,48.155326,1.385517,-0.537843,3.411071,-220.169594,495.937543,2.829816,1030.885777,5.776860,0.022985,-243.181109,23.367450
std,115.614301,NaN,15472.748364,512.537781,5.055295,5.118762,3.891192,497.668782,101.657418,4.317209,45.346899,3.217625,1.019005,8.727190,95.185944
min,0.000000,NaN,4536.000000,-802.725180,-9.687662,-8.700635,-8.183000,-1041.323658,319.360250,-7.189090,906.932050,-1.162060,-2.871119,-259.866780,-143.520000
25%,99.750000,NaN,40167.500000,-483.719690,-4.183731,-5.209348,3.528750,-580.049325,400.719831,2.227669,1028.499974,3.230372,-0.646285,-250.150987,-38.475000
50%,199.500000,NaN,49238.000000,292.108738,3.630490,-2.915654,4.703000,-407.549022,484.102477,4.290164,1047.648405,5.731330,0.059416,-244.758710,-2.555000
75%,299.250000,NaN,60157.000000,508.713093,5.405685,4.785055,5.571000,221.387925,591.372101,5.662488,1060.367924,8.136907,0.711248,-232.798160,45.332500
max,399.000000,NaN,99744.000000,870.063498,9.678462,8.027252,8.604000,939.317135,667.674165,10.366995,1099.966073,13.390013,3.205525,-226.003820,282.430000